body {
    font-family: Garamond, sans-serif;
    text-align: center;
    background-color: #D8D9DA;
    line-height: 30px;
    margin: 3rem;
}

h1 {
    font-size: 38px;
    line-height: 50px;
}

h2,
h3,
p {
    text-align: left;
}


.links li {
    list-style: none;
    text-align: center;
    font-size: 18px;
}

a {
    color: #363c4d;
}

li {
    text-align: left;
    line-height: 30px;
}

img {
    max-width: 500px;
}
